.button {
  $button-max-width: 300px;
  $button-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  @mixin button-svg {
    & .button__icon {
      width: $button-icon-wrap-size;
      height: $button-icon-wrap-size;
      padding: 10px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;

      & svg,
      & img {
        position: absolute;
        width: $button-icon-size;
        height: $button-icon-size;
      }
    }
  }

  @include font-body;
  background-color: $color-gray;
  border: 2px solid $color-white;
  padding: 0 $button-padding;
  height: $button-s-height;
  text-transform: uppercase;
  border-radius: $button-border-radius;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
  backdrop-filter: blur(50px);
  transition: all 0.65s $button-transition;

  &:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  & svg {
  }

  &--round {
    padding: 0;
    border: none;
    max-width: $button-s-height;
    // justify-content: space-between;

    padding: $button-round-padding;

    @include button-svg();

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 65px;
      height: 60px;
      // background: rgba(255, 255, 255, 0.5);
      left: -11px;
    }

    &:hover {
      max-width: $button-max-width;

      &:before {
        left: -25px;
      }
    }
  }

  &--gift {
    padding: 12px;
    border: none;
    // width: $button-s-height;
    // justify-content: center;
    background-color: $color-white;

    & img {
    }
  }
  &--black {
    background-color: $color-black;
    color: $color-white;
    border: none;
    font-family: $font-family;
    text-align: center;

    &:hover {
      background-color: rgba($color-black, 0.8);
    }
  }
  &--icon {
    padding-right: $button-round-padding;
    @include button-svg();
  }

  &__content {
    padding-right: 10px;

    .button--round & {
      padding-right: 0px;
      padding-left: 0;
      opacity: 0;

      max-width: 0;
      flex: 0 0 auto;
      transition: all 0.59s $button-transition;
      overflow: hidden;
    }

    .button--round:hover & {
      opacity: 1;
      max-width: $button-max-width;
      padding-right: 10px;
      padding-left: 20px;
      transition: all 0.71s $button-transition;
    }
  }
}
