.customizer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-white;
  padding: $block-padding;

  display: flex;

  &__locations {
    display: flex;

    &-item {
      margin-right: 20px;
      color: $color-gray;
      cursor: pointer;

      &.active {
        color: $color-black;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__cars {
    display: flex;

    &-item {
      margin-right: 20px;
      color: $color-gray;
      cursor: pointer;

      &.active {
        color: $color-black;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__girls {
    display: flex;

    &-item {
      margin-right: 20px;
      color: $color-gray;
      cursor: pointer;

      &.active {
        color: $color-black;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
  & > * {
    margin-right: 20px;
  }
}
