.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  justify-content: center;
  align-items: center;

  display: none;

  &--active {
    display: flex;
  }
}
