.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
  display: flex;

  opacity: 0;
  transition: opacity 0.4s ease;
  // visibility: hidden;
  pointer-events: none;

  &--active {
    opacity: 1;
    transition-duration: 0s;
    pointer-events: all;
  }

  &__image {
    width: 100px;
    margin-bottom: 30px;
  }
}
