@font-face {
  font-family: 'Suisse Intl Book';
  src: url('../fonts/subset-SuisseIntl-Book.woff2') format('woff2'),
    url('../fonts/subset-SuisseIntl-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
