.preloader.preloader--active
    .preloader__main 
      .preloader__center
        .preloader__image 
          img(src="/assets/images/preloader.svg", alt="")
        .preloader__content 
          img(src="/assets/images/felix-logo.svg", alt="").preloader__logo
          .preloader__progress 0%
    .preloader__bottom 
      img(src="/assets/images/created-by.svg", alt="")